<html>
    <head>
        
        <%- include("../base.ejs") %> 
    </head>
    <body>

        <center>

            <br> 
            <br>
            <br>

            <% if(locals.errorMessage) { %>
                <div class="alert alert-danger alert-dismissible fade show col-sm-5 mx-auto" role="alert">
                    <strong>Login error!</strong> <%= errorMessage %> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <% } %> 

            <h2><i class="fas fa-user-lock"></i> Einloggen </h2>
            
            <form action="/login" method="POST">
                <!-- col-xs-3 -->
                <div class="col-sm-3 my-2">
                    <input class="form-control" type="text"  id="inlineFormInputName" placeholder="Nutzername" name="username" required>
                </div>
                <div class="col-sm-3 my-2">
                    <input class="form-control" type="password"  id="inlineFormInputName" placeholder="Passwort" name="password" required>
                </div>
                <div class="col-sm-3 my-2"><input class="btn btn-dark w-100" type="submit" value="Login"></div>
                <hr width="150">
                <a style="display: block; line-height: 10px;" href="/reset">Passwort vergessen?</a>
            </form>

        </center>
        
    </body>
</html>