<html>
    <head>
        <%- include("../base.ejs") %>
    </head>
    <body>
        <br>
        <div style="margin: 0 30px;">
            <% if(locals.verifiedPass != undefined && locals.usedUsername != undefined) { %>
            
                <% if(!locals.verifiedPass) { %>
                    <div class="alert alert-danger alert-dismissible fade show col-sm-5 mx-auto" role="alert">
                        <strong>falsches Passwort!</strong> Passwort stimmt nicht überein.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <br> 
                <% } else if(locals.usedUsername) { %> 
                    <div class="alert alert-danger alert-dismissible fade show col-sm-5 mx-auto" role="alert">
                        <strong>Benutzername existiert!</strong> Bitte wählen Sie einen anderen Benutzernamen
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <br>
                <% } %>  
            <% } %> 
    
            <% if(locals.isCreated != undefined) { %>
                <% if(locals.isCreated) { %>
                    <div class="alert alert-success alert-dismissible fade show col-sm-5 mx-auto" role="alert">
                        <strong>Erfolgreich erstellt!</strong> Benutzer wurde erfolgreich erstellt.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <br>
                <% } %>  
            <% } %>  
        </div>
        
        
        

        <center>
            <h1><i class="lni lni-users"></i> Benutzer hinzufügen</h1>
            <form action="/useradd" method="POST">
                <div class="col-sm-3 my-2">
                    <input class="form-control" type="text"  id="inlineFormInputName" placeholder="Username" name="username" required>
                </div>
                <div class="col-sm-3 my-2">
                    <input class="form-control" type="password"  id="inlineFormInputName" placeholder="Password" name="password" required>
                </div>
                <div class="col-sm-3 my-2">
                    <input class="form-control" type="password"  id="inlineFormInputName" placeholder="Confirm password" name="passwordcheck" required>
                </div>
    
                <!-- <input class="btn btn-dark" type="submit" value="Login"> -->
                <button class="btn btn-dark"><i class="lni lni-circle-plus"></i> Add</button>
            </form>
        </center>
    </body>
</html>