<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../base.ejs") %> 
</head>
<body>
    <br> <br>
    <div class="container">
        <h1>Konto-Wiederherstellung</h1>
        <p>Ihre Wiederherstellungs-E-Mail wurde gesendet. Bitte überprüfen Sie Ihre Mails. <br> Wenn Sie nichts erhalten haben, wenden Sie sich bitte an den Administrator.</p>
    </div>
</body>
</html>