<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include("base.ejs") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="indexcontainer">
      <h1
        style="
          text-align: center;
          margin-top: 50px;
          font-size: 50px;
          font-weight: 200;
        "
      >
        <span style="font-weight: 800">Home</span> page
      </h1>

      <div class="worktable">
        <% if (locals.isAdmin) { %>
        <div class="workcolumn">
          <h3 class="worktitle">
            <i class="fa-solid fa-user-tie"></i> Administration
          </h3>
          <div class="linktable">
            <li>
              <a href="/tasks"
                ><i class="icon fa-solid fa-bars-progress"></i> tasks</a
              >
            </li>
            <li>
              <a href="/notes"
                ><i class="icon fa-solid fa-bell"></i> notifications
                <span class="badge bg-danger" style="color: white"
                  ><%= locals.notification_number %></span
                ></a
              >
            </li>
            <li>
              <a href="/userlist"
                ><i class="icon fa-solid fa-address-book"></i> userlist</a
              >
            </li>
            <li>
              <a href="/history"
                ><i class="icon fa-solid fa-clock-rotate-left"></i> history</a
              >
            </li>
            <li>
              <a href="/graph"
                ><i class="icon fa-solid fa-chart-pie"></i> graph
              </a>
            </li>
          </div>
        </div>
        <% } %>
        <div class="workcolumn">
          <h3 class="worktitle">
            <i class="fa-solid fa-hand-sparkles"></i> Employees
          </h3>
          <div class="linktable">
            <li>
              <a href="/tasks"
                ><i class="icon fa-solid fa-bars-progress"></i> tasks</a
              >
            </li>
            <li>
              <a href="/notes"
                ><i class="icon fa-solid fa-bell"></i> notifications
                <span class="badge bg-danger" style="color: white"
                  ><%= locals.notification_number %></span
                ></a
              >
            </li>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
  </body>
</html>
